<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img id="logoSize" [src]="myImage" alt=""
        class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-primary round-button mx-2" (click)="openLogin()" type="button">Login</button>
        <button class="btn btn-success round-button" (click)="openRegister()" type="button">Register</button>
      </form>
    </div>
  </div>
</nav>


<div class="container-fluid pt-5">
  <router-outlet></router-outlet>
</div>

<!-- Resister Model -->
<div class="modal" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeRegister()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="">Name</label>
            <input type="text" class="form-control" [(ngModel)]="registerObj.name">
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="">Email</label>
            <input type="email" class="form-control" [(ngModel)]="registerObj.emailId">
          </div>
          <div class="col-4">
            <label for="">Phone No.</label>
            <input type="phone" class="form-control" [(ngModel)]="registerObj.mobileNo">
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="">Who are You</label>
            <select name="" class="form-control" [(ngModel)]="registerObj.userRole">
              <option value="">Select Your Role</option>
              <option value="Customer">Customer</option>
              <option value="CarOwner">carOwner</option>
            </select>
          </div>
          <div class="col-5">
            <label for="">Password</label>
            <input type="password" class="form-control" [(ngModel)]="registerObj.password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeRegister()">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onRegister()">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- Login -->
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeLogin()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="">Email</label>
            <input type="email" class="form-control" [(ngModel)]="registerObj.emailId">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">Password</label>
            <input type="password" class="form-control" [(ngModel)]="registerObj.password">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeLogin()">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onLogin()">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="footer py-1 mt-1">
  <div class="container text-center">
    <p>&copy; 2024 ZoomCar List | All Rights Reserved.</p>
  </div>
</footer>