<div class="container mt-5">
    <h1 class="text-center mb-4">Zomato Item List</h1>
    <div class="row">
        <div class="col-4" *ngFor="let item of items">
                <div class="card card-food mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <img [src]="item.photoUrl" alt="" class="card-img-top">
                                <p>{{item.restaurantName}}</p>
                            </div>
                            <div class="col-7 text-end">
                                <h5 class="card-title">{{item.menuItemName}}</h5>
                                <h6 class="card-title">{{item.price}}</h6>
                                <button class="btn btn-sm btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div> 
    </div>
</div>

