<div id="booking">
    <!-- <div> -->
    <!-- <img src="https://www.zoomcar.com/img/bg-desktop.png" alt=""> -->
    <form id="form">
        <input type="text" id="start" class="placeholder1" placeholder="Pick Up Cites Airport,Hotel">

        <input type="text" id="end" class="placeholder1" placeholder="Drop Off Cites Airport,Hotel">
        <!-- <p id="redDot"></p> -->
        <div>
            <button id="primaryButton" type="submit">
                FIND CARS
            </button>
        </div>
    </form>
    <!-- <a href="./Filter/filter.html"></a> -->
    <!-- </div> -->
</div>
